<p>Table 1</p>
<table style="width:100%">
    <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Age</th>
    </tr>
    <tr>
        <td>Jill</td>
        <td>Smith</td>
        <td>50</td>
    </tr>
    <tr>
        <td>Eve</td>
        <td>Jackson</td>
        <td>94</td>
    </tr>
</table>

<p>Table 2</p>
<table style="width:100%">
    <tr>
        <th>Name</th>
        <th colspan="2">Telephone</th>
    </tr>
    <tr>
        <td>Bill Gates</td>
        <td>55577854</td>
        <td>55577855</td>
    </tr>
</table>

<p>Table 3</p>
<table style="width:100%">
    <tr>
        <th>Name:</th>
        <td>Bill Gates</td>
    </tr>
    <tr>
        <th rowspan="2">Telephone:</th>
        <td>55577854</td>
    </tr>
    <tr>
        <td>55577855</td>
    </tr>
</table>

<p>Table 4</p>
<table style="width:100%">
    <caption>Monthly savings</caption>
    <tr>
        <th>Month</th>
        <th>Savings</th>
    </tr>
    <tr>
        <td>January</td>
        <td>$100</td>
    </tr>
    <tr>
        <td>February</td>
        <td>$50</td>
    </tr>
</table>


<p>Table 5</p>
<table id="t01">
    <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Age</th>
    </tr>
    <tr>
        <td>Eve</td>
        <td>Jackson</td>
        <td>94</td>
    </tr>
</table>

<p>Table Summary</p>
<table style="width:100%">
    <tr>
    ใช้ table องค์ประกอบHTML เพื่อกำหนดตาราง
    ใช้ tr องค์ประกอบHTML เพื่อกำหนดแถวของตาราง
    ใช้ td องค์ประกอบHTML เพื่อกำหนดข้อมูลตาราง
    ใช้ th องค์ประกอบHTML เพื่อกำหนดส่วนหัวของตาราง
    ใช้ caption องค์ประกอบHTML เพื่อกำหนดคำบรรยายภาพตาราง
    ใช้borderคุณสมบัติCSS เพื่อกำหนดเส้นขอบ
    ใช้border-collapseคุณสมบัติCSS เพื่อยุบเส้นขอบของเซลล์
    ใช้paddingคุณสมบัติCSS เพื่อเพิ่มการขยายไปยังเซลล์
    ใช้text-alignคุณสมบัติCSS เพื่อจัดแนวข้อความเซลล์
    ใช้border-spacingคุณสมบัติCSS เพื่อตั้งค่าระยะห่างระหว่างเซลล์
    ใช้แอcolspanททริบิวเพื่อทำให้เซลล์ครอบคลุมหลายคอลัมน์
    ใช้แอrowspanททริบิวเพื่อทำให้เซลล์ครอบคลุมหลายแถว
    ใช้idแอตทริบิวต์เพื่อกำหนดหนึ่งตาราง

    https://www.w3schools.com/html/html_tables.asp
    </tr>
</table>