<p>show</p>
<table style="width:100%">
    <caption>Time {{servertime}}</caption>
    <tr>
        <th>ID</th>
        <th>NAME</th>
        <th>SYMBOL</th>
    </tr>
    <tr>
        <td>{{token.result[0].id}}</td>
        <td>{{token.result[0].info}}</td>
        <td>{{token.result[0].symbol}}</td>
    </tr>
    <tr>
        <td>{{token.result[1].id}}</td>
        <td>{{token.result[1].info}}</td>
        <td>{{token.result[1].symbol}}</td>
    </tr>
    <tr>
        <td>{{token.result[2].id}}</td>
        <td>{{token.result[2].info}}</td>
        <td>{{token.result[2].symbol}}</td>
    </tr>
    <tr>
        <td>{{token.result[3].id}}</td>
        <td>{{token.result[3].info}}</td>
        <td>{{token.result[3].symbol}}</td>
    </tr>
</table>