table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 10px;
}  

th {
    text-align: center;
}

td {
    text-align: right;
}

table {
    border-spacing: 5px;
}

tr#t01 {
    width: 100%;
    /* background-color: #f1f1c1; */
    background-color: black;
}

tr#t01 th {
    color: white;
}