<p>
  diff-price works!
</p>
<p>show</p>
<table style="width:100%">
    <caption>Last update {{strservertime}}</caption>
    <tr id="t01">
        <th colspan="2">BITKUB</th>
        <th></th>
    </tr>
    <tr>
        <th>NAME</th>
        <th>LAST</th>
        <th>Diff</th>
    </tr>
    <tr>
        <td>BTC</td>
        <td>{{ticker?.THB_BTC?.last}}</td>
    </tr>
    <tr>
        <td>ETH</td>
        <td>{{ticker?.THB_ETH?.last}}</td>
    </tr>
    <tr>
        <td>XRP</td>
        <td>{{ticker?.THB_XRP?.last}}</td>
    </tr>
    <tr>
        <td>BCH</td>
        <td>{{ticker?.THB_BCH?.last}}</td>
    </tr>
    <tr>
        <td>LTC</td>
        <td>{{ticker?.THB_LTC?.last}}</td>
    </tr>
    <tr>
        <td>BSV</td>
        <td>{{ticker?.THB_BSV?.last}}</td>
    </tr>
    <tr>
        <td>XLM</td>
        <td>{{ticker?.THB_XLM?.last}}</td>
    </tr>
    <tr>
        <td>ADA</td>
        <td>{{ticker?.THB_ADA?.last}}</td>
    </tr>
    <tr>
        <td>OMG</td>
        <td>{{ticker?.THB_OMG?.last}}</td>
    </tr>
    <tr>
        <td><button (click)='startTimer()'>Start</button></td>
        <td></td>
        <td><button (click)='pauseTimer()'>Pause</button></td>
    </tr>
</table>



<p>{{timeLeft}} Seconds Left....</p>
